*{
  box-sizing: border-box;
}
body{  
  display: flex;
  margin: 0;
    justify-content: center;
  align-items: center;
}
h1, p{
  text-align: center;
}

.container{
  width: 700px;
  padding: 10px;
  max-width: 100%;
  margin-bottom: 100px;
}
img{
  width: 100%;
  max-width: 100%;

  margin: 10px 0;
}
.text, img{
  opacity: 0;
  transform: translateY(15px);
  transition: 0.5s all ease;
}
.show-reveal{
  opacity: 1;
  transform: translateY(0px);
}